<h2 class= "cityName">Current Weather in {{name}}<div class = "mainTemp">{{main.temp}}&deg;F</div></h2>
  <div class = "lowTemp"> Today's Low {{main.temp_min}}&deg;F</div><div class = "highTemp">Today's High {{main.temp_max}}&deg;F</div>

  <h1 class = "conditions">{{weather.[0].main}},
{{weather.[0].description}}</h1>
<img src="http://openweathermap.org/img/w/{{weather.[0].icon}}.png" alt={{weather.[0].main}}>

  <h4 class = "atmos">Atmospheric Bullshit: Wind Speed {{wind.speed}}mph, Wind Degrees {{wind.deg}} {{main.humidity}}, Ground Level {{main.grnd_level}}</h4>
<button id="saveSearchButton" class="btn btn-default">Save this Weather Search</button>
