<h2 class= "cityName">{{city.name}}<div class = "mainTemp">{{list.main.temp}}</div></h2>
  <div class = "lowTemp">{{list.main.temp_min}}</div><div class = "highTemp">{{list.main.temp_max}}</div>

  <h1 class = "conditions">{{list.weather.main}},
{{list.weather.description}}</h1>

  <h4 class = "atmos">Atmospheric Bullshit: {{list.wind.speed}}, {{list.wind.deg}} {{list.main.humidity}}, {{list.main.grnd_level}}</h4>


