<h2 class= "cityName">{{name}}<div class = "mainTemp">{{main.temp}}</div></h2>
  <div class = "lowTemp">{{main.temp_min}}</div><div class = "highTemp">{{main.temp_max}}</div>

  <h1 class = "conditions">{{weather.main}},
{{weather.description}}</h1>

  <h4 class = "atmos">Atmospheric Bullshit: {{list.wind.speed}}, {{list.wind.deg}} {{list.main.humidity}}, {{list.main.grnd_level}}</h4>
